/* global.css or App.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media screen and (min-width: 640px) {
  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D8E3E7;
  }
}
